<div class="container">
  <div class="row center sign-up-card">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Login</h3>
        <div class="row">
          <%= render 'form'%>
        </div>
      </div>
    </div>
  </div>
</div>
