<%= render 'layouts/messages', resource: @student %>

<div class="container">
  <div class="row center sign-up-card">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h3 class="header">Edit</h3>
        <div class="row">
          <%= render 'form', student: @student %>
        </div>
      </div>
    </div>
  </div>
</div>